
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_ApplicationLayout.cshtml";
}


<div class="bg-light">


    <div class="text-center my-5">
        <h1 class="display-3">MVC Application</h1>
        <h1 class="display-6">Hoşgeldiniz</h1>
        <div class="d-flex justify-content-center my-2">
            <div class="col-md-3 card bg-light p-2" id="card1">
                <div class="card-content">
                    <p>Toplam Satış </p>
                    <strong>7500 ₺</strong>
                </div>
            </div>
        </div>

        <div class="container d-flex justify-content-center">

            <div class="row bg-light">
                <div class="col-md-4 card p-2" id="card1">
                    <div class="card-content">
                        <p>Müşteri Sayısı </p>
                        <strong>@ViewBag.MusteriSayisi</strong>
                    </div>
                </div>
                <div class="col-md-4 card p-2" id="card1">
                    <div class="card-content">
                        <p>Ürün Sayısı </p>
                        <strong>@ViewBag.UrunSayisi</strong>
                    </div>
                </div>
                <div class="col-md-4 card p-2" id="card1">
                    <div class="card-content">
                        <p>Satış Sayısı </p>
                        <strong>@ViewBag.SatisSayisi</strong>
                    </div>
                </div>


            </div>

        </div>


    </div>

</div>