@using MVCApplication.Models.Entity
@model List<Musteriler>
@{
    ViewBag.Title = "Müşteriler";
    Layout = "~/Views/Shared/_ApplicationLayout.cshtml";
}

<h2>Müüşteriler</h2>
<br />
<div class="conatiner">
     <a href="/Müsteri/YeniMusteri" class="btn btn-outline-primary form-control">+ Yeni Müşteri</a>
</div>
<br />
<table class="table table-bordered table-hover">
    <tr>
        <th>#</th>
        <th>Müşteri Ad Soyad</th>
        <th>İşlemler</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.MusteriId</td>
            <td>@item.MusteriAd @item.MusteriSoyad</td>
            <td>
                <a href="#" class="btn btn-sm btn-danger">Sil</a>
                <a href="#" class="btn btn-sm btn-info">Güncelle</a>
                <a href="#" class="btn btn-sm btn-success">Detay</a>
            </td>
        </tr>
    }
</table>


