@model MVCApplication.Models.Entity.Musteriler
@{
    ViewBag.Title = "YeniMusteri";
    Layout = "~/Views/Shared/_ApplicationLayout.cshtml";
}

<h2>Yeni Müşteri</h2>
<div class="container p-5">
    <form class="form-group" method="post">
        <div>
            <label name="MusteriAd">Müşteri Adı</label>
            <input class="form-control" type="text" name="MusteriAd" required />
        </div>
        <div>
            <label name="MusteriSoyad">Müşteri Soyad</label>
            <input class="form-control" type="text" name="MusteriSoyad" required />
        </div>
        <div class="mt-4">
            <button id="btnKaydet" class="btn btn-success">Kaydet</button>
        </div>
        <script>
            $('#btnKaydet').onclick(function () {
                alert('Müşteri Kaydı Tamamlandı.');
            });
        </script>
    </form>

</div>

