@model MVCApplication.Models.Entity.Satislar
@{
    ViewBag.Title = "Satışlar";
    Layout = "~/Views/Shared/_ApplicationLayout.cshtml";
}

<h2>Satışlar</h2>
<br />
<div class="container">
    <button type="button" class="btn btn-outline-primary form-control" data-toggle="modal" data-target="#Modal1"> Satış Yap</button>
</div>
<div class="container mt-5">
    <a href="/Satis/SatisListesi/" class="btn btn-outline-warning form-control"> Satış Listesi</a>
</div>

<div class="modal" id="Modal1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Satış Yap</h2>
            </div>
            <div class="modal-body">
                <form method="post" action="/Satis/SatisYap">
                    <div>
                        <label>Ürün Adı</label>
                        @Html.DropDownListFor(x => x.Urun, (List<SelectListItem>)ViewBag.Urunler, new { @class = "form-control" })
                    </div>
                    <div class="mt-3">
                        <label>Müşteri</label>
                        @Html.DropDownListFor(x => x.Musteri, (List<SelectListItem>)ViewBag.Musteriler, new { @class = "form-control" })
                    </div>
                    <div class="mt-3">
                        <label>Adet</label>
                        @Html.TextBoxFor(x => x.Adet, new { @class = "form-control" })
                    </div>
                    <div class="mt-3">
                        <label>Fiyat</label>
                        @Html.TextBoxFor(x => x.Fiyat, new { @class = "form-control" })
                    </div>
                  
                    <div class="mt-5">
                       <button type="submit" class="btn btn-primary">Satış Yap</button>
                       <button type="button" class="btn btn-danger" data-dismiss="modal">Vazgeç</button>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>



